
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AOCLogin</title>
</head>
<body>
    <div>
        AOC Login
    </div>
</body>
</html>
