
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ODOT Mileage Report UI</title>

    @Styles.Render("~/Content/css")

    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="h-100">

    <!-- #region Parent Content Wrapper -->
    <main id="mainLayoutWrapper" class="d-flex flex-column h-100">

        <!-- #region Page Header -->
        <section id="mainHeader" class="flextest-light-blue">
            pageHeader
        </section>
        <!-- #endregion -->

        <!-- #region Main Content Wrapper -->
        <section id="mainContentWrapper" class="row no-gutters flex-grow-1">

            <!-- #region Sidebar -->
            <section id="mainSideBar" class="col-md-auto flextest-medium-blue">
                <p>mainSideBar</p>
                <button id="closeSideBar_btn" class="k-button">Close Side Bar</button>
                <button id="viewData_btn" class="k-button">View Data</button>
            </section>
            <!-- #endregion -->

            <!-- #region Content Section -->
            <section id="mainContentSection" class="col-md flex-grow-1 flextest-dark-blue">

                <p>mainContentSecttion</p>

                <!-- #region Interactive Map Container -->
                <section id="interactiveMapContainer">
                    <p>interactiveMapContainer</p>
                    <button id="openSideBarMap_btn" class="k-button">Show Side Bar</button>

                </section>
                <!-- #endregion -->
                <!-- #region Spreadsheet Container -->
                <section id="spreadsheetContainer">
                    <p>spreadSheetContainer</p>
                    <button id="openSideBarSpreadsheet_btn" class="k-button">Show Side Bar</button>
                    <button id="closeSpreadsheet_btn" class="k-button">Close Spreadsheet View</button>

                </section>
                <!-- #endregion -->

            </section>
            <!-- #endregion -->

        </section>
        <!-- #endregion -->

    </main>
    <!-- #endregion -->

    <script src="~/Scripts/custom/ODOT_UI_MainEvents.js"></script>
</body>
</html>