
@{
    Layout = null;
}

<!DOCTYPE html>

<h5>Reset Password</h5>

<p>Enter the email associated with your account below to receive a password reset link.</p>

<form id="ODOTPasswordRecoveryForm">
    <div class="form-group">
        <label for="ODOTUserResetEmailField">Email address</label>
        <input id="ODOTUserResetEmailField" type="email" class="form-control w-50" aria-describedby="emailHelp" placeholder="name@example.com">
    </div>
    <button id="submitODOTResetPw_btn" type="submit" class="btn btn-primary">Reset Password</button>
</form>