
@{
    Layout = null;
}

<!DOCTYPE html>

<h5>County User Registration Modal</h5>

<p>Create a new County user account.</p>

<form id="countyRegisterUserForm">
    <div class="form-group">
        <label for="countyNewUsernameField">Username</label>
        <input id="CountyNewUsernameField" type="text" class="form-control w-50">
    </div>
    <div class="form-group">
        <label for="countyNewUserPwField">Password</label>
        <input id="countyNewUserPwField" type="password" class="form-control w-50">
    </div>
    <div class="form-group">
        <label for="countyNewUserEmailField">Email address</label>
        <input id="countyNewUserEmailField" type="email" class="form-control w-50" aria-describedby="emailHelp">
    </div>
    <button id="submitNewCountyUser_btn" type="submit" class="btn btn-primary">Create Account</button>
</form>