
@{
    Layout = null;
}

<!DOCTYPE html>

<h5>ODOT User Registration Modal</h5>

<p>Create a new ODOT user account.</p>

<form id="ODOTRegisterUserForm">
    <div class="form-group">
        <label for="ODOTNewUsernameField">Username</label>
        <input id="ODOTNewUsernameField" type="text" class="form-control w-50">
    </div>
    <div class="form-group">
        <label for="ODOTNewUserPwField">Password</label>
        <input id="ODOTNewUserPwField" type="password" class="form-control w-50">
    </div>
    <div class="form-group">
        <label for="ODOTNewUserEmailField">Email address</label>
        <input id="ODOTNewUserEmailField" type="email" class="form-control w-50" aria-describedby="emailHelp">
    </div>
    <button id="submitNewODOTUser_btn" type="submit" class="btn btn-primary">Create Account</button>
</form>