@{
    Layout = null;
}

<div class="container-fluid mt-3 mb-3">
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="EditDescription" class="font-weight-bold">Description</label>
                    <textarea id="EditDescription" class="form-control w-50" rows="3"></textarea>
                </div>

                <button type="button" class="btn btn-success">Update Description</button>
            </div>
        </div>
    </form>
</div>