@{
    Layout = null;
}

<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-img">
                    <img class="rounded mx-auto d-block" src="https://place-hold.it/256" />
                </div>
            </div>
            <div class="custom-file mt-3">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
</div>