@{
    Layout = null;
}

<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="ReportListSelect" class="font-weight-bold">Report List</label>
                    <select class="custom-select">
                        <option selected>Some Report</option>
                        <option value="1">Another Important Report</option>
                        <option value="2">Old Report</option>
                        <option value="3">Big Financial Report</option>
                    </select>
                </div>
                
            </form>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="ReleaseReportSwitch" class="font-weight-bold">Release Report</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Toggle to release report</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>