@{
    Layout = null;
}

<div class="container-fluid">
    <div id="SupportTicketsToolBar" class="row">
        <div class="col">
            @(Html.Kendo().ToolBar()
            .Name("KendoSupportTicketsToolBar")
            .Items(items => {
                items.Add().Type(CommandType.Button).Text("New Support Ticket").Id("NewTicketBtn").Icon("k-icon k-i-file-add");
                items.Add().Type(CommandType.Button).Text("Edit Support Ticket").Id("EditTicketBtn").Icon("k-icon k-i-edit");
            })
            )
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div id="SupportDemoGrid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#SupportDemoGrid").kendoGrid({
                                columns: [{
                                    field: "FirstName",
                                    title: "First Name"
                                },
                                {
                                    field: "LastName",
                                    title: "Last Name"
                                }],
                                dataSource: {
                                    data: [{
                                        FirstName: "Joe",
                                        LastName: "Smith"
                                    },
                                    {
                                        FirstName: "Jane",
                                        LastName: "Smith"
                                    }]
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div id="NewSupportTicketWindow">@Html.Partial("_SupportAddNewTicket")</div>
    <div id="EditSupportTicketWindow">@Html.Partial("_SupportEditTicket")</div>

    <script src="~/Scripts/custom/_SupportWindows.js"></script>
</div>
