@{
    Layout = null;
}

<div class="container-fluid">
    <div id="ManageUsersToolBarContainer" class="row">
        <div class="col">
            @(Html.Kendo().ToolBar()
            .Name("KendoManageUsersToolBar")
            .Items(items => {
                items.Add().Template("<input type='text' class='form-control' placeholder='Search Users' />");
                items.Add().Template("<select class='form-control' aria-label='Default select example'><option selected>Tenant List</option><option value='1'>One</option><option value='2'>Two</option> <option value='3'>Three</option></select>");
                items.Add().Type(CommandType.Separator);
                items.Add().Type(CommandType.Button).Text("Add User").Id("AddUser").Icon("k-icon k-i-plus-circle");
                items.Add().Type(CommandType.Button).Text("Edit User").Id("EditUser").Icon("k-icon k-i-edit");
            })
            )
        </div>
    </div>

    <div id="ManageUsersGridContainer" class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div id="UserWindowDemoGrid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#UserWindowDemoGrid").kendoGrid({
                                columns: [{
                                    field: "FirstName",
                                    title: "First Name"
                                },
                                {
                                    field: "LastName",
                                    title: "Last Name"
                                }],
                                dataSource: {
                                    data: [{
                                        FirstName: "Joe",
                                        LastName: "Smith"
                                    },
                                    {
                                        FirstName: "Jane",
                                        LastName: "Smith"
                                    }]
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div id="AddUserWindow">@Html.Partial("_UserAddUser")</div>
    <div id="EditUserWindow">@Html.Partial("_UserEditUser")</div>

    <script src="~/Scripts/custom/_UserWindow.js"></script>
</div>
