@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IRIS 10 UI Development Sandbox</h1>
    <p class="lead text-muted">This project contains the UI screens for the IRIS 10 web application for ORP.</p>
</div>

<div class="container-fluid">
    <div class="row text-center">
        <p class="color-test">Hello World!</p>
    </div>
</div>

