@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="d-flex flex-column container-fluid pt-3 pb-3">
    <div class="row flex-grow-1">
        <div class="d-flex flex-column col-md">
            <div class="card flex-grow-1">
                <div class="card-body">Example card</div>
            </div>
        </div>
    </div>
</div>