@{
    ViewBag.Title = "Home Page";
}

<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>TypeScript Module Testing:</h5>

                </div>
            </div>
        </div>
    </div>
</section>