@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="utilityPermitApplicantFields" class="container-fluid mt-3 mb-3">

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicantMobile">Applicant Mobile:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.ApplicantMobile)
                            .Name("AddApplicantMobile")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicantFax">Applicant Fax:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.ApplicantFax)
                            .Name("AddApplicantFax")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicantEmail">Applicant Email:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.ApplicantEmail)
                            .Name("AddApplicantEmail")
                            .Placeholder("name@domain.com")
                            )
                </div>
            </div>
        </div>
    </div>

</div>