
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kendo UI for JQuery Grid Examples</title>
</head>
<body>

    <script src="~/Scripts/custom/TestGridData.js"></script>

    <style>
        #TestGridReports {
            height: 100%;
        }
    </style>

    <div class="tabstrip-custom-wrapper">
        <div id="TestGridReports"></div>
    </div>


    @*<div class="row mt-3">
                <div class="col">

                    <div id="TestGridUsers"></div>

                </div>
        </div>*@

    @*<div class="row-flex footer-flex footer-color">
        <p>A Footer.</p>
    </div>*@

    <script src="~/Scripts/custom/MainGridDemo.js"></script>

</body>
</html>
