
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IRIS10 UI Development Sandbox</title>

    @Styles.Render("~/Content/css")

    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="d-flex flex-column h-100">

    <header class="iris-bg-light-blue">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-2 p-3">
                    <img src="~/Images/IRIS_Logo_Gray_Light.svg" />
                </div>
                <div class="col-md-auto ml-auto">
                    <div class="d-flex bg-light m-3 p-2 rounded rounded-sm">
                        <strong>Nicholas Fazzolari (AOCCRP)</strong>
                        <button class="btn btn-sm btn-primary ml-3">Logout <span class="k-icon k-i-logout"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="d-flex flex-grow-1">
        <div class="d-flex flex-column container-fluid p-0">
            <div class="row flex-grow-1 no-gutters">
                <section class="col-md-auto iris-bg-dark-blue text-light">Auto column</section>
                <section class="d-flex flex-column col-md">
                    <div class="flex-grow-1">Content in the main application section</div>
                    <footer>
                        <h3>I'm a footer</h3>
                    </footer>
                </section>
            </div>
        </div>
    </main>

</body>
</html>