/* IRIS LESS Color Library */

/* Grays */
@IRIS_GRAY_01:  #1A1A1A;
@IRIS_GRAY_02:  #2D2D2D;
@IRIS_GRAY_03:  #737373;
@IRIS_GRAY_04:  #F2F2F2;

/* Main Palette */
@IRIS_BLUE_01:  #151B26;
@IRIS_BLUE_02:  #2E6FF2;
@IRIS_BLUE_03:  #5399EE;
@IRIS_RED_01:   #F21D1D;

/* Custom Validation Colors */
@IRIS_VALIDATE_GREEN_DK: #4CAF50;
@IRIS_VALIDATE_GREEN_LT: #C8E6C9;
@IRIS_VALIDATE_RED_DK: #F44336;
@IRIS_VALIDATE_RED_LT: #FFCDD2;