/* IRIS 10 CSS UI Development Sandbox */
@import "bootstrap.min.css";
@import "iris10-bootstrap-custom-theme.css";
/* IRIS LESS Color Library */
/* Grays */
/* Main Palette */
/* Custom Validation Colors */
/* IRIS Custom color classes */
.color-test {
  color: #2E6FF2;
}
.iris-bg-dark-blue {
  background-color: #151B26;
}
.iris-bg-medium-blue {
  background-color: #2E6FF2;
}
.iris-bg-light-blue {
  background-color: #5399EE;
}
.iris-border-medium-gray {
  border-color: #737373;
}
.iris-border-hinted {
  border-color: rgba(0, 0, 0, 0.125);
}
.report-list-height {
  height: 256px;
}
.height-fit-content {
  height: fit-content;
}
.iris-grid-no-header {
  display: none;
}
/*
    CSS rules to configure the Kendo UI TabStrip example
*/
/*#region IRIS Custom Grid*/
.iris-global-full-height {
  height: 100%;
}
.iris-main-layout-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.iris-main-layout-wrapper .iris-row-flex {
  border: 1px dotted grey;
}
.iris-main-layout-wrapper .iris-row-flex.iris-header-flex {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.iris-main-layout-wrapper .iris-row-flex.iris-content-flex {
  flex: 1 1 auto;
}
.iris-main-layout-wrapper .iris-row-flex.iris-footer-flex {
  flex: 0 1 auto;
}
/*#endregion*/
/*#region Kendo custom overrides*/
#tabstrip {
  height: 100%;
  overflow: auto;
}
.k-tabstrip-wrapper {
  height: 100%;
}
.iris-tabstrip-custom-wrapper {
  display: flex;
  height: 100%;
}
/*#endregion*/
/*#region Testing colors*/
.test-header-color {
  background-color: mediumpurple;
}
.test-content-color {
  background-color: thistle;
}
.test-footer-color {
  background-color: salmon;
}
.flextest-light-blue {
  background-color: #e3f2fd;
}
.flextest-medium-blue {
  background-color: #bbdefb;
}
.flextest-dark-blue {
  background-color: #64b5f6;
}
.flextest-darker-blue {
  background-color: #2196f3;
}
/*#endregion*/
#loginButtonsWrapper,
#loginFormODOTWrapper,
#loginFormCountiesWrapper {
  display: none;
}
.odot-header-bg {
  background: #2e6ff2;
  background: linear-gradient(0deg, #2e6ff2 0%, #5399ee 100%);
}
.odot-login-grad-bg {
  background: #e3f2fd;
  background: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%);
}
.odot-2rem-type {
  font-size: 2rem;
}
#closeODOTRegPanel_btn:hover,
#closeODOTForgotPanel_btn:hover {
  color: #737373;
}
#closeODOTLoginForm_btn,
#closeCountyLoginForm_btn {
  color: #737373;
  font-size: 1.25rem;
}
#closeODOTLoginForm_btn:hover,
#closeCountyLoginForm_btn:hover {
  color: #5399EE;
  font-size: 1.25rem;
}