/* IRIS LESS Color Library */
/* Grays */
/* Main Palette */
/* Custom Validation Colors */
.color-test {
  color: #2E6FF2;
}
.iris-bg-dark-blue {
  background-color: #151B26;
}
.iris-bg-medium-blue {
  background-color: #2E6FF2;
}
.iris-bg-light-blue {
  background-color: #5399EE;
}
.validate-list-null {
  list-style-image: url(../Images/password_chk_null.svg);
  list-style-position: outside;
}