/* IRIS 10 CSS UI Development Sandbox */
@import "bootstrap.min.css";
@import "iris10-bootstrap-custom-theme.css";
/* IRIS LESS Color Library */
/* Grays */
/* Main Palette */
/* Custom Validation Colors */
/* IRIS Custom color classes */
.color-test {
  color: #2E6FF2;
}
.iris-bg-dark-blue {
  background-color: #151B26;
}
.iris-bg-medium-blue {
  background-color: #2E6FF2;
}
.iris-bg-light-blue {
  background-color: #5399EE;
}
.iris-border-medium-gray {
  border-color: #737373;
}
.iris-border-hinted {
  border-color: rgba(0, 0, 0, 0.125);
}
.report-list-height {
  height: 256px;
}
.iris-grid-no-header {
  display: none;
}
/*.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}*/
html,
body {
  height: 100%;
}
.k-tabstrip-wrapper {
  height: 100%;
}
.main-layout-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.main-layout-wrapper .row-flex {
  border: 1px dotted grey;
}
.main-layout-wrapper .row-flex.header-flex {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.main-layout-wrapper .row-flex.content-flex {
  flex: 1 1 auto;
}
.main-layout-wrapper .row-flex.footer-flex {
  flex: 0 1 40px;
}
#tabstrip {
  height: 100%;
  overflow: auto;
}
.tabstrip-custom-wrapper {
  height: 100%;
}
.header-color {
  background-color: mediumpurple;
}
.content-color {
  background-color: thistle;
}
.footer-color {
  background-color: bisque;
}