/* IRIS LESS Color Library */
/* #region IRIS Colors */
/* Grays */
/* Main Palette */
/* Custom Validation Colors */
/* Interactive Map Colors */
/* #endregion */
/* #region IRIS Colored Backgrounds */
.iris-bg-dark-blue {
  background-color: #233042;
}
.iris-bg-medium-blue {
  background-color: #2E6FF2;
}
.iris-bg-light-blue {
  background-color: #5399EE;
}
/* #endregion */
/* #region IRIS Colored Borders */
.iris-border-dark-blue {
  border-color: #233042 !important;
}
.iris-border-medium-blue {
  border-color: #2E6FF2 !important;
}
.iris-border-light-blue {
  border-color: #5399EE !important;
}
.iris-border-medium-gray {
  border-color: #737373 !important;
}
.iris-border-hinted {
  border-color: rgba(0, 0, 0, 0.125) !important;
}
/*#endregion*/
/* #region IRIS Colored Type */
.iris-type-dark-blue {
  color: #233042;
}
.iris-type-medium-blue {
  color: #2E6FF2;
}
.iris-type-light-blue {
  color: #5399EE;
}
/* #endregion */
/*#region Gradient Background classes */
.dark-gradient-bg {
  background: #2e6ff2;
  background: linear-gradient(0deg, #2e6ff2 0%, #5399ee 100%);
}
.light-gradient-bg {
  background: #e3f2fd;
  background: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%);
}
/*#endregion*/
/*#region Testing colors*/
.test-header-color {
  background-color: mediumpurple;
}
.test-content-color {
  background-color: thistle;
}
.test-footer-color {
  background-color: salmon;
}
.flextest-light-blue {
  background-color: #e3f2fd;
}
.flextest-medium-blue {
  background-color: #bbdefb;
}
.flextest-dark-blue {
  background-color: #64b5f6;
}
.flextest-darker-blue {
  background-color: #2196f3;
}
/*#endregion*/
/*#region Display management classes */
#loginButtonsWrapper,
#loginFormODOTWrapper,
#loginFormCountiesWrapper {
  display: none;
}
/*#endregion*/
/*#region Type classes (move to own .less file) */
.odot-2rem-type {
  font-size: 2rem;
}
/*#endregion*/
/*#region Background classes */
.odot-header-bg-flat {
  background-color: #5399EE;
}
.odot-header-bg {
  background: #2e6ff2;
  background: linear-gradient(0deg, #2e6ff2 0%, #5399ee 100%);
}
.odot-login-grad-bg {
  background: #e3f2fd;
  background: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%);
}
/*#endregion*/
/*#region Custom window management button states */
#closeODOTRegPanel_btn:hover,
#closeODOTForgotPanel_btn:hover {
  color: #737373;
}
#closeODOTLoginForm_btn,
#closeCountyLoginForm_btn {
  color: #737373;
  font-size: 1.25rem;
}
#closeODOTLoginForm_btn:hover,
#closeCountyLoginForm_btn:hover {
  color: #5399EE;
  font-size: 1.25rem;
}
#closeSideBar_btn,
#closeSpreadsheet_btn {
  color: #737373;
  font-size: 1.25rem;
}
#closeSideBar_btn:hover,
#closeSpreadsheet_btn:hover {
  color: #5399EE;
  font-size: 1.25rem;
}
/*#endregion*/
/*#region Sizing classes for various elements */
.odot-logo-height {
  height: 64px;
}
@media (min-width: 768px) {
  #mainSideBar {
    max-width: 350px;
  }
}
.odot-map-sizer {
  width: 60%;
  height: 60%;
}
.odot-map-legend-grey {
  width: 1rem;
  height: 1rem;
  background-color: #F2F2F2;
}
.odot-map-legend-green {
  width: 1rem;
  height: 1rem;
  background-color: #A5D6A7;
}
.odot-map-legend-amber {
  width: 1rem;
  height: 1rem;
  background-color: #FFB74D;
}
/*#endregion*/
/*#region Custom responsive breakpoints */
@media (max-width: 768px) {
  #loginODOTContainer {
    margin-top: 1rem;
  }
  #loginCountiesContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #loginFormODOTWrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #loginFormCountiesWrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/*#endregion*/