@import "site-colors.less";

.color-test {
    color: @IRIS_BLUE_02;
}

.iris-bg-dark-blue {
    background-color: @IRIS_BLUE_01;
}

.iris-bg-medium-blue {
    background-color: @IRIS_BLUE_02;
}

.iris-bg-light-blue {
    background-color: @IRIS_BLUE_03;
}

.iris-border-medium-gray {
    border-color: @IRIS_GRAY_03;
}

.iris-border-hinted {
    border-color: rgba(0, 0, 0, 0.125);
}