
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IRIS10 UI Development Sandbox</title>

    @Styles.Render("~/Content/css")

    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="d-flex flex-column h-100">

    <header class="iris-bg-light-blue">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-2 p-3">
                    <img src="~/Images/IRIS_Logo_Gray_Light.svg" />
                </div>
                <div class="col-md-auto ml-auto">
                    <div class="d-flex bg-light m-3 p-2 rounded rounded-sm">
                        <strong>Nicholas Fazzolari (AOCCRP)</strong>
                        <button class="btn btn-sm btn-primary ml-3">Logout <span class="k-icon k-i-logout"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="d-flex flex-grow-1">
        <div class="d-flex flex-column container-fluid p-0">
            <div class="row flex-grow-1 no-gutters">
                <div class="d-flex flex-column col-md">
                    <ul>
                        <li id='closeDrawer' data-role='drawer-item'><span class='k-icon k-i-menu'></span><span class='k-item-text' data-id='Road'>Road Information System</span></li>
                        <li data-role='drawer-item'><span class='k-icon k-i-information'></span><span class='k-item-text' data-id='Information'>Information</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                        <li data-role='drawer-separator'></li>
                        <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Kendo'>About Kendo UI</span></li>
                        <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='ThemeSupport'>Supported Themes</span></li>
                        <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='ThemeSupport'>Another Item</span></li>
                        <li data-role='drawer-separator'></li>
                        <li data-role='drawer-item' class='k-state-selected'><span class='k-icon k-i-zoom'></span><span class='k-item-text' data-id='Overview'>Overview</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-down'></li>
                        <li data-role='drawer-item'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='About'>About Kendo</span></li>
                        <li data-role='drawer-item'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='All'>All Kendo Components</span></li>
                        <li data-role='drawer-separator'></li>
                        <li data-role='drawer-item'><span class='k-icon k-i-star'></span><span class='k-item-text' data-id='Popular'>Most popular components</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <style>
            #drawer-content li {
                font-size: 1.2em;
                padding-left: .89em;
                background: 0 0;
                border-radius: 0;
                border-width: 0 0 1px;
                border-color: rgba(33, 37, 41, 0.125);
                border-style: solid;
                line-height: 1.5em;
                padding: 1.09em .84em 1.23em .84em;
            }

                #drawer-content li:last-child {
                    border: 0;
                }

            .hidden {
                display: none;
            }

            #example .demo-section {
                max-width: 640px;
            }

            .k-toolbar .k-icon {
                font-size: 18px;
            }
        </style>
    </main>
</body>
</html>